#**Data Types and Structures**

1.  What are data structures, and why are they important ?
    - Data Structure are containers that store, organize, and manage data efficiently for access and modification.They provide efficient ways to manage information based on its characterstics and intended use.
    - They are important because choosing the right data structure significantly impacts the efficiency and performance of program.
    - It simplify data manipulation
    - Optimize searching and sorting operations
    - Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.
    - Mutable Type can be changed after creation.
    Eg: List [' '], Dictionary { 'a' :1}, Set {1,2,3}
    - Immutable Type cannot be changed after creation.
    Eg: Tuple ( 1, 2, 3), String 'hello' .

3. What are the main differences between lists and tuples in Python?
    - Lists are mutable collection of elements and Tuples are immutable collection of elements.
    - Lists performance is slightly slower whereas Tuples performance is slightly faster.

4. Describe how dictionaries store data.
    - Dictionaries in python store data as key-value pairs. Each key maps to a value.

5. Why might you use a set instead of a list in Python?
    - Sets automatically remove duplicates and support fast membership testing.

6. What is a string in Python, and how is it different from a list?
    - Strings are characters arranged in an unchangeble order. Unlike lists, strings cannot be changed in place and are always immutable. Lists which hold ordered collections, can store elements of any type and allow modification.

7. How do tuples ensure data integrity in Python?
    - Tuples are immutable, if it once created their values cannot be changed. This characteristic ensures that the data stored in a tuple remains constant, protecting it from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that maps keys to values using a hash function to compute an index. Python dictionaries are implemented using hash tables, allowing for average constant-time complexity for key-based lookups.

9. Can lists contain different data types in Python?
    - Yes, Python lists are heterogeneous and can store elements of different data types within the same list, thanks to Python's dynamic typing.

10. Explain why strings are immutable in Python.
    - Strings are immutable so they can be shared safely and efficiently, support memory sharing optimizations, and avoid unexpected side effects in programs.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries provide fast key-based lookup, making them efficient when you need to associate unique keys with values and quickly retrieve data based on keys. Lists would require scanning all elements, which is slower.

12. Describe a scenario where using a tuple would be preferable over a list.
    - When you want to protect data from changes (e.g., fixed coordinates, database records).
    - As valid keys in a dictionary—only immutable types (like tuples) can be used as dictionary keys.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates—each element in a set is unique.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In list it checks if a value exists among the list's elements.
    - In dictionary it checks if a value exists among the dictionary's keys.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, tuples are immutable; you cannot change their elements after creation. Any attempt to modify a tuple creates a new tuple instead.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary whose values are themselves dictionaries.
    - students = {
       'Alice': {'age': 20, 'grade': 'A'},
       'Bob': {'age': 22, 'grade': 'B'}
     }
    

17.  Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements (by key) in a dictionary is on average O(1) due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred when you need:
    - Ordered access
    - Sequential data processing
    - Index- based access
    - Cases where no key-value pair relationship is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries considered unordered because you cannot access their items by position—only by keys.
    - They use hash tables for fast lookups, so the order is not guaranteed and retrieval is always key-based, not index-based

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - List: Access elements by position (index), O(1) for direct access, but searching for a value requires O(n) time.
    - Dictionary: Access elements by key, O(1) on average due to hashing, which is much faster for lookup by key—especially with large datasets.

#**Practical Questions**

In [ ]:
#Write a code to create a string with your name and print it?

name= "Harshali"
print(name)

Harshali

In [ ]:
# Write a code to find the length of the string "Hello World".

print(len("Hello World"))

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"?

a = "Python Programming"
sliced_a= a[:3]
print(sliced_a)

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase.

a= "hello"
b= a.upper()
print(b)

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

a= "I like apple"
b= a.replace('apple', 'orange')
print(b)

I like orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.

mylist = [1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]?

number= [1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

number = [1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

mylist= ['a','b','c','d']
print(mylist[1])

b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

numbers= [10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

mytuple= (100,200,300)
print(mytuple)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

mytuple1=('red', 'green', 'blue', 'yellow')
print(mytuple1[-2])

blue

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

mytuple2= (10,20,5,15)
print(min(mytuple2))

5

In [ ]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

mytuple3= ('dog', 'cat', 'rabbit')
print(mytuple3.index('cat'))

1

In [ ]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits= ('apple', 'orange', 'grapes')
check_kiwi = 'kiwi' in fruits
print(check_kiwi)

False

In [ ]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

myset= {'a', 'b','c'}
print(myset)

{'a', 'b', 'c'}

In [ ]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers= {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [ ]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers1 ={1,2,3,4}
numbers1.remove(4)
print(numbers1)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

numbers_1 ={ 1,2,3}
numbers_2 ={3,4,5}
print(numbers_1.union(numbers_2))

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

numbers1 ={1,2,3}
numbers2= {2,3,4}
print(numbers1.intersection(numbers2))

{2, 3}

In [ ]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dictionary= {"name":"harshali", "age":20, "city": "dewas"}
print(dictionary)

{'name': 'harshali', 'age': 20, 'city': 'dewas'}

In [ ]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dictionary = {'name': 'John', 'age': 25}
dictionary["country"]= "usa"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'usa'}

In [ ]:
#. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict_1 = {'name': 'Alice', 'age': 30}

In [4]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict_2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_2.pop('age')
print(dict_2)

{'name': 'Bob', 'city': 'New York'}

In [5]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict_3= {'name': 'Alice', 'city': 'Paris'}
check_city= 'city' in dict_3
print(check_city)

True

In [6]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {'name':'harshali', 'age':20, 'city':'dewas'}

print ("list is ", my_list)
print("tuple is ", my_tuple)
print ("dictionary is ", my_dict)

list is  [1, 2, 3, 4]
tuple is  (1, 2, 3, 4)
dictionary is  {'name': 'harshali', 'age': 20, 'city': 'dewas'}

In [7]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers= [random.randint (1,100) for i in range (5)]

numbers.sort()

print(numbers)

[36, 48, 65, 76, 94]

In [8]:
#  Write a code to create a list with strings and print the element at the third index.

lst = [ 1 , 2, 'happy' , 'sad', 6, 10]
print (lst[3])

sad

In [16]:
#  Write a code to combine two dictionaries into one and print the result.

dic1 = {'name': 'harshali', 'study': 'engineering', 'city': 'dewas'}
dic2 = {'name': 'satasvi', 'age': 18, 'city': 'indore'}

dic1 .update(dic2)
print(dic1)

{'name': 'satasvi', 'study': 'engineering', 'city': 'indore', 'age': 18}

In [17]:
#  Write a code to convert a list of strings into a set.

string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
string_set= set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}